.Pupdates {
    text-align: center;
    margin-left: 0px;
}

.Pupdates ul, li {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0; 
}

.Pupdates li {
    margin-left: 0px;
}

.Pupdates-button {
    margin: 0 auto;
    text-align: center;
}

.Pupdates section {
    margin-bottom: 100px;
}

.Pupdates a,
.Pupdates a:active,
.Pupdates a:focus,
.Pupdates a:visited {
  color: black;
  font-weight: bold;
  text-decoration: none;
}