.AddPup {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 auto;
    width: 95%;
}

.AddPup h2 {
    text-align: center;
}

.AddPup input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.AddPup textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.AddPup input[type=file] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

.AddPup input[type=checkbox] {
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #F2AD1D;
    border-radius: 4px;
    box-sizing: border-box;
  }

.AddPup button {
    width: 100%;
    border: #F2AD1D solid 2px;
    border-radius: 25px;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
}

.AddPup button:enabled:hover {
    background-color: #F2AD1D;
}

.AddPup-option {
    align-self: center;
}

.AddPup-mix {
    margin-bottom: 15px;
}

.AddPup-error {
    color: red;
}

@media screen and (min-width: 800px) {
    .AddPup {
        width: 50%;
    }
}