.LandingPage {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 95%;
    margin: 0 auto;
}

.LandingPage img {
  width: 18em;
  margin: 0 auto;
}

.LandingPage a,
.LandingPage a:active,
.LandingPage a:focus,
.LandingPage a:visited {
  border: #F2AD1D solid 2px;
  color: black;
  border-radius: 25px;
  padding: 5px 15px;
  font-size: 0.8em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.LandingPage-link {
  margin-bottom: 25px;
}

.LandingPage a:hover {
  background-color: #F2AD1D;
}

@media screen and (min-width: 1000px) {
  .LandingPage {
      width: 65%;
  }  

  .LandingPage img {
    width: 40em;
  }
}