.PupdateProfile {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.PupdateProfile ul, li {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0; 
}
.PupdateProfile div {
    margin-bottom: 15px;
}

.PupdateProfile button {
    padding: 10px;
    border: #F2AD1D solid 2px;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px;
    text-align: center;
}

.PupdateProfile-attendee {
    margin: 0px;
}

.PupdateProfile button:hover {
    background-color: #F2AD1D;
}

.PupdateProfile a,
.PupdateProfile a:active,
.PupdateProfile a:focus,
.PupdateProfile a:visited {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.PupdateProfile-item {
    text-align: left;
}

.PupdateProfile-edit {
    margin-right: 25px;
}