.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .App > main {
    flex: 1;
    background-color:#f2f2f2;
    padding-bottom: 25px;
  }
  
  .App > header {
    flex: 0 1 auto;
    padding: 25px;
    flex-shrink: 0;
    max-height: 300px;
    background-image: url("../Utils/images/background.jpg");
    background-size: cover;
  }

  .App-h1 {
    text-align: center;
    color: #fcfaf1;
  }

  .App a,
  .App a:active,
  .App a:focus,
  .App a:visited {
    text-decoration: none;
  }

  footer {
    color: white;
    flex: 0 1 auto;
    padding-top: 10px;
    height: 250px;
    text-align: center;
    flex-shrink: 0;
    background-image: url("../Utils/images/dogs.jpg");
    background-size: cover;
  }
  
  footer a {
    text-decoration: none;
    font-weight: bold;
    color: white;
  }
