.Pup {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.Pup-img {
    max-width: 15em;
    margin: 0 auto;
    border-radius: 25px;
    border: #F2AD1D solid 10px;
}

.Pup ul {
    list-style: none;
    padding-left: 0px;
}

.Pup h2 {
    font-size: 1.25em;
}

.Pup button {
    width: 50%;
    border: #F2AD1D solid 2px;
    border-radius: 25px;
    padding: 14px 20px;
    margin: 15px auto;
    cursor: pointer;
}

.Pup button:enabled:hover {
    background-color: #F2AD1D;
}

@media screen and (min-width: 1000px) {
    .Pup {
        width: 60%;
    }

    .Pup-img {
        max-width: 25em;
    }
}