.EditPupdate h2 {
    text-align: center;
}

.EditPupdate {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;  
}

.EditPupdate-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 30%;
}

.EditPupdate textarea {
    font-family: sans-serif
}

.EditPupdate input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
} 

.EditPupdate label {
    margin-bottom: 5px;
}

.EditPupdate button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.EditPupdate button:enabled:hover {
    background-color: #45a049;
}