.Pupdate {
    width: 50%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
    border-bottom: 1px solid black;
}

.Pupdate h3 {
    margin: 5px 0px;
    padding: 0px;
}


.Pupdate-profile {
    width: 80%;
    background-color: #C28832;
    color: white;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.Pupdate-profile button:enabled:hover {
    background-color: #F5AC40;
}

.Pupdate-rsvp {
    width: 80%;
    background-color: #297537;
    color: white;
    margin: 20px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.Pupdate-edit {
    width: 80%;
    background-color: #B31E00;
    color: white;
    margin: 0px 20px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.Pupdate-p {
    margin-bottom: 8px;
}

.Pupdate ul {
    padding:  0px;
}

.Pupdate-item {
    flex-basis: 25em;
    margin: 10px;
}
