.Pupdate {
    /* margin: 0px auto; */
    /* border: #F2AD1D solid 2px;
    border-radius: 25px; */
    padding: 5px;
    margin: 5px;
}

.Pupdate-group {
    display: flex;
    flex-direction: row;
}

.Pupdate h3 {
    margin: 5px 0px;
    padding: 0px;
}

.Pupdate-rsvp p {
    border: none;
    cursor: pointer;
    border: #F2AD1D solid 2px;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
}

.Pupdate-rsvp p:hover {
    background-color: #F2AD1D;
}

.Pupdate-p {
    margin-top: 0px;
}

.Pupdate ul {
    padding:  0px;
}

.Pupdate-item {
    flex-basis: 25em;
    margin: 10px;
}

.Pupdate-item-double {
    flex-basis: 50em;
}
