.MyPups {
    text-align: center;
    display: flex;
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
}

.MyPups h2 {
    margin-bottom: 10px;
}

.MyPups li {
    padding: 2px;
    margin: 5px;
}

.MyPups ul {
    padding: 0px;
}

.MyPups-img {
    max-width: 15em;
    margin: 0 auto;
    border-radius: 25px;
}

.MyPups a {
    text-decoration: none;
}

.MyPups-profile {
    width: 75%;
    padding: 10px;
    border: #F2AD1D solid 2px;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.MyPups-delete-profile {
    width: 75%;
    margin: 10px;
    padding: 10px;
    border: #F2391D solid 2px;
    border-radius: 25px;
    cursor: pointer;
}

.MyPups-add {
    width: 75%;
    padding: 10px;
    border: #F2AD1D solid 2px;
    border-radius: 25px;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

.MyPups-add:hover {
    background-color: #F2AD1D;
}

.MyPups-profile:hover {
    background-color: #F2AD1D;
}

.MyPups-delete-profile:hover {
    background-color: red;
}

.MyPups a,
.MyPups a:active,
.MyPups a:focus,
.MyPups a:visited {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

@media screen and (min-width: 1000px) {
    .MyPups {
        width: 60%;
    }
    
    .MyPups-add {
        width: 25%;
    }

    .MyPups-profile {
        width: 25%;
    }
    
    .MyPups-delete-profile {
        width: 25%
    }

    .MyPups-img {
        max-width: 25em;
    }
}
