.RegistrationForm {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 auto;
    width: 95%;
}

.RegistrationForm input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.RegistrationForm button {
    width: 100%;
    border: #F2AD1D solid 2px;
    border-radius: 25px;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
}

.RegistrationForm button:enabled:hover {
    background-color: #F2AD1D;
}

.RegistrationForm-error {
    color: red;
}

@media screen and (min-width: 1000px) {
    .RegistrationForm {
        width: 30%;
    }
}

